@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* -------------------Mobile Version------------------ */
@media only screen and (max-width: 799px) {
*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
	background-image: url('images/bg-intro-mobile.png');
	background-repeat: no-repeat;
	background-color: hsl(0, 100%, 74%);
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

body,
h1,
p {
	margin: 0;
}
body{
	margin-bottom: 12%;
}

h1{
	line-height: 1.2;
	font-weight: 700;
	padding: 3em 0 1em 0;
}

h6, p{
	line-height: 1.6;
	font-weight: 400;
}

h6{
	color: hsl(246, 25%, 77%);
}

.heading p{
	padding-bottom: 3em;
	margin-inline: 5%;
}
/* #container{
	padding: 3rem 0;
	margin-inline: auto;
	width: min(90%, 70.5rem);
} */
.card{
	padding: 20px;
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    margin-inline: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 0 0 hsl(249, 10%, 26%, 0.3);
}
.card p {
	padding: 0 2em;
}
.fname, .lname, .email, .pwd{
	padding: 1.3em 4em;
    margin: 10px;
    border: solid 1px hsla(246, 25%, 77%, 0.9);
    border-radius: 5px;
}
.free{
	font-weight: 600;
}
.second{
	padding: 5px 3px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 0 0 hsl(249deg 10% 26% / 30%);
}
.btn{
	padding: 1.3em 3.4em;
    margin-top: 7px;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    border: 1px;
    box-shadow: 0 4px 0 0 hsl(154deg 39% 51%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
}
.text{
	margin-top: 13px;
	padding: 0 3.2em;
}
.terms{
	color: hsl(0, 100%, 74%);
	font-weight: 600;
}
.attribution { 
	font-size: 11px;
	text-align: center; 
}
.attribution a {
 	color: hsl(228, 45%, 44%); 
}
}

/* -----------------------Desktop Version------------------ */
@media only screen and (min-width: 800px) {
*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
	background-image: url('images/bg-intro-desktop.png');
	background-repeat: no-repeat;
	background-color: hsl(0, 100%, 74%);
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

body,
h1,
p {
	margin: 0;
}

h1{
	line-height: 1.2;
	font-weight: 700;
	padding: 3em 0 1em 0;
	font-size: 3rem;
}

h6, p{
	line-height: 1.6;
	font-weight: 400;
}

h6{
	color: hsl(246, 25%, 77%);
}
.first, .flex {
	width: 100%;
}
.heading {
	text-align: left;
	padding-right: 1em;
}
.heading p{
	padding-bottom: 3em;
	/* margin-inline: 5%; */
}
#container{
	padding: 3rem 0;
	margin-inline: auto;
	width: min(90%, 70.5rem);
	display: flex;
}
.card{
	padding: 20px;
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    margin-inline: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 0 0 hsl(249, 10%, 26%, 0.3);
}
.fname, .lname, .email, .pwd{
	padding: 1.3em 19em 1.3em 3em;
    margin: 10px 10px 3px 10px;
    border: solid 1px hsla(246, 25%, 77%, 0.9);
    border-radius: 5px;
}
.text-one, .text-two, .text-three, .text-four {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 0.625rem;
	color: hsla(0, 93%, 68%, 0.9);
	float: right;
	padding: 0.250em 3.625em 0.325em 0;
}
.free{
	font-weight: 600;
}
#form{
	padding-top: 1.2em;
}
.second{
	padding: 5px 3px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 0 0 hsl(249deg 10% 26% / 30%);
}
.btn{
	padding: 1.3em 10.5em;
    margin-top: 7px;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    border: 1px;
    box-shadow: 0 4px 0 0 hsl(154deg 39% 51%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
}
.btn:hover{
	cursor: pointer;
	background-color: hsla(154, 59%, 51%, 0.7);
	box-shadow: 0 4px 0 0 hsla(154, 39%, 51%, 0.8);
}
.claim{
	padding-left: 0.9em;
    padding-right: 0.825em;
	padding-bottom: 1em;
}
.text{
	margin-top: 1.625em;
}
.terms{
	color: hsl(0, 100%, 74%);
	font-weight: 600;
}
::placeholder {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
.attribution { 
	font-size: 11px;
	text-align: center; 
}
.attribution a {
 	color: hsl(228, 45%, 44%); 
}

/* ---------------JS Class------------- */
.error-image {
	padding: 1.3em 19em 1.3em 3em;
    margin: 10px 10px 3px 10px;
    border-radius: 5px;
    border: 2px solid hsla(0, 93%, 68%, 0.9);
	background-image: url('images/icon-error.svg');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 20px 20px;
}
.change-color::placeholder {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: hsla(0, 93%, 68%, 0.9);
}
}